@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
	.updown{	
		display:block;
	}
	.sidebar-content{
		display:none;
	}
}

@media only screen and (max-width: 667px) {
	}

@media only screen and (max-width: 600px) {
	.movie_list li{
	    width: calc(100%/ 3.08);
	  
	}
	.music_list li{
		 width: calc(100%/ 3.7);
	}
	
}

@media only screen and (max-width: 540px) {
	
}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 424px) {}
@media only screen and (max-width: 320px) {}